body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px;
    color: #333;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.section {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline-block;
    margin: 0 10px;
}